# Ruff configuration
line-length = 88
indent-width = 4

[lint]
select = ["E", "F", "I", "W"]
ignore = []

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
